.general-info-container {
  background-color: white;
  border: 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 2rem 4rem;
  width: 40vw;
  box-shadow: 10px 10px 5px darkgrey;
}

.general-info-container .form-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(147, 141, 141, 0.7);
  padding-left: 1rem;
  padding-right: 8rem;
}

.general-info-container .form-header h1 {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
}

.general-info-container .form-header img {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.general-info-container .input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.general-info-container .input-container label {
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 0.4rem;
}

.general-info-container .input-container input {
  margin-top: 0.2rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  padding: 0.25rem 0.6rem;
  background-color: rgba(224, 220, 220, 0.54);
}

.general-info-container .date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.general-info-container .date-container .input-date-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.general-info-container .date-container .input-date-container label {
  font-size: 1.2rem;
}

.general-info-container .btn {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 1.5rem;
  /* align-items: center; */
}

.general-info-container .btn button {
  width: 10rem;
  border-radius: 1rem;
  background-color: rgba(67, 203, 67, 0.75);
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.general-info-container .btn button:disabled {
  width: 10rem;
  border-radius: 1rem;
  background-color: rgba(94, 228, 94, 0.5);
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
}
