.navbar {
  margin-left: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-style: oblique;
  font-weight: 500;
  font-size: 2rem;
  margin-left: 1rem;
  color: white;
}

.navbar img {
  height: 3rem;
  width: 3rem;
}
